# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
.Python
env/
venv/

# Jupyter
.ipynb_checkpoints/

# Distribution / packaging
build/
dist/
*.egg-info/

# VS Code
.vscode/

# macOS
.DS_Store

# Temporary
*.tmp
*.log
